.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/addressbook-web-tests/test-20200702T153354.log
/addressbook-web-tests/test-20200702T153354.log
/addressbook-web-tests/test-20200702T154530.log
/addressbook-web-tests/test-20200702T154757.log
/addressbook-web-tests/test-20200703T173605.log
